﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Admin.Course.DetailsModel
@{
    ViewData["Title"] = Localizer["Course"];
}

<h3>@Localizer["Course"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <a asp-page="./Edit" asp-route-id="@Model.Course.Id" class="btn btn-default">@Localizer["Edit"]</a>
</p>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.Materials)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Materials)
        </dd>
    </dl>
</div>