﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Parent.Student.DetailsModel
@{
    ViewData["Title"] = Localizer["Student"];
}

<h3>@Localizer["Student"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.StudentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Class)
        </dd>
    </dl>

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#lessons" aria-controls="lessons" role="tab" data-toggle="tab">@Localizer["Lessons"]</a></li>
            <li role="presentation"><a href="#courses" aria-controls="courses" role="tab" data-toggle="tab">@Localizer["Courses"]</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="lessons">
                <p>
                    <partial name="Student/_LessonsPartial" model="Model.Student" />
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="courses">
                <p>
                    <partial name="Student/_CoursesPartial" model="Model.Student" />
                </p>
            </div>
        </div>
    </div>
</div>