﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Models
@inject IViewLocalizer Localizer
@model StudentViewModel

<div class="row">

    <!-- Nav tabs -->
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            @{
                for (int i = 0; i < Model.Courses.Count; i++)
                {
                    <li role="presentation" class="@(i == 0 ? "active" : string.Empty)"><a href="#@Model.Courses[i].Id" aria-controls="@Model.Courses[i].Id" role="tab" data-toggle="pill">@Model.Courses[i].Name</a></li>
                }
            }
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="col-md-9">
        <div class="tab-content">
            @{
                for (int i = 0; i < Model.Courses.Count; i++)
                {
                    <div role="tabpanel" class="@(i == 0 ? "tab-pane fade in active" : "tab-pane fade")" id="@Model.Courses[i].Id">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Courses[0].Topics[0].Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Courses[0].Topics[0].Score)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Courses[0].Topics[0].Finished)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Courses[0].Topics[0].Date)
                                    </th>
                                </tr>
                                @foreach (var topic in Model.Courses[i].Topics)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(_ => topic.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(_ => topic.Score)
                                        </td>
                                        <td>
                                            @if (topic.Finished.HasValue)
                                            {
                                                if (topic.Finished.Value)
                                                {
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                }
                                                else
                                                {
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(_ => topic.Date)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>