﻿@using Models
@model StudentViewModel

<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Lessons[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lessons[0].Documents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lessons[0].Present)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lessons[0].Late)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lessons[0].Behavior)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lessons[0].Note)
                </th>

            </tr>
            @foreach (var lesson in Model.Lessons)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => lesson.Date)
                    </td>
                    <td>
                        @foreach (var document in lesson.Documents)
                        {
                            <a asp-page="/Download" asp-route-documentId="@document.Id">@document.FileName</a>
                        }
                    </td>
                    <td>
                        <div class="checkbox">
                            <label><input asp-for="@lesson.Present" disabled="disabled"/></label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label><input asp-for="@lesson.Late" disabled="disabled"/></label>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(model => lesson.Behavior)
                    </td>
                    <td>
                        @lesson.Note
                    </td>
                </tr>
            }
        </table>
    </div>
</div>