﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Teacher.Student.DetailsModel
@{
    ViewData["Title"] = Localizer["Student"];
}

<h3>@Localizer["Student"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.StudentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Parent)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Student.Id" />
        <input type="hidden" asp-for="Student.StudentNumber" />
        <input type="hidden" asp-for="Student.Name" />
        <input type="hidden" asp-for="Student.Class" />
        <input type="hidden" asp-for="Student.Parent" />

        <div class="row">

            <!-- Nav tabs -->
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    @{
                        for (int i = 0; i < Model.Student.Courses.Count; i++)
                        {
                            <li role="presentation" class="@(i == 0 ? "active" : string.Empty)"><a href="#@Model.Student.Courses[i].Id" aria-controls="@Model.Student.Courses[i].Id" role="tab" data-toggle="pill">@Model.Student.Courses[i].Name</a></li>
                        }
                    }
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="col-md-9">
                <div class="tab-content">
                    @{
                        if (Model.Student.Courses != null)
                        {
                            for (int i = 0; i < Model.Student.Courses.Count; i++)
                            {
                                <input type="hidden" asp-for="Student.Courses[i].Id"/>
                                <input type="hidden" asp-for="Student.Courses[i].Name"/>
                                <input type="hidden" asp-for="Student.Courses[i].Materials"/>
                                <div role="tabpanel" class="@(i == 0 ? "tab-pane fade in active" : "tab-pane fade")" id="@Model.Student.Courses[i].Id">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Student.Courses[0].Topics[0].Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Student.Courses[0].Topics[0].Score)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Student.Courses[0].Topics[0].Finished)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Student.Courses[0].Topics[0].Date)
                                                </th>
                                            </tr>
                                            @if (Model.Student.Courses[i].Topics != null)
                                            {
                                                for (int j = 0; j < Model.Student.Courses[i].Topics.Count; j++)
                                                {
                                                    <input type="hidden" asp-for="Student.Courses[i].Topics[j].Id" />
                                                    <input type="hidden" asp-for="Student.Courses[i].Topics[j].Name" />
                                                    <tr>
                                                        <td>
                                                            @Model.Student.Courses[i].Topics[j].Name
                                                        </td>
                                                        <td>
                                                            <input asp-for="Student.Courses[i].Topics[j].Score" type="number" class="form-control" min="1" step="0.1" max="10" />
                                                        </td>
                                                        <td>
                                                            <select asp-for="Student.Courses[i].Topics[j].Finished" class="form-control">
                                                                <option></option>
                                                                <option value="True">@Localizer["Completed"]</option>
                                                                <option value="False">@Localizer["Not completed"]</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input asp-for="Student.Courses[i].Topics[j].Date" type="date" class="form-control" />
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default pull-right">@Localizer["Save"]</button>
        </div>
    </form>
</div>