﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Admin.Class.IndexModel
@{
    ViewData["Title"] = Localizer["Classes"];
}

<h3>@Localizer["Classes"]</h3>
<p>
    <a asp-page="../Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <a asp-page="./Create" class="btn btn-default">@Localizer["Add new"]</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Class)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    <a asp-page="./Course" asp-route-id="@item.Id">@Localizer["Courses"]</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
