﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AccessDeniedModel
@{
    ViewData["Title"] = Localizer["Access denied"];
}

<header>
    <h1 class="text-danger">@Localizer["Access denied"]</h1>
    <p class="text-danger">@Localizer["You do not have access to this page."]</p>
</header>
