﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Admin.Parent.DeleteModel
@{
    ViewData["Title"] = Localizer["Delete"];
}

<h3>@Localizer["Parent"]</h3>
<h4>@Localizer["Are you sure you want to delete this?"]</h4>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent.User.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.User.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.Address)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Parent.Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-default" />
    </form>
</div>
