﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Admin.Parent.DetailsModel
@{
    ViewData["Title"] = Localizer["Parent"];
}

<h3>@Localizer["Parent"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <a asp-page="./Edit" asp-route-id="@Model.Parent.Id" class="btn btn-default">@Localizer["Edit"]</a>
</p>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.User.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.User.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.User.PhoneNumber)
        </dd>
    </dl>
</div>