﻿@using System.Text
@using Edu.Web.Data.Domain
@using Microsoft.AspNetCore.Mvc.Localization
@inject ApplicationDbContext DbContext
@inject UserManager<EduUser> UserManager
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="@Localizer["Application name"]">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="~/images/logo.png">
    <link rel="icon" href="~/images/logo.png">
    <title>@Localizer["Application name"] @(ViewData["Title"] != null ? "-" : string.Empty) @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/quill/quill.snow.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">@Localizer["Toggle navigation"]</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">
                    <img src="~/images/logo.png" />
                    <span>
                        @Localizer["Application name"]
                    </span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <partial name="_LoginPartial" />
                <ul class="nav navbar-nav navbar-right">
                    @{
                        var user = await UserManager.GetUserAsync(User);
                        if (user != null)
                        {
                            <li>
                                @{
                                    var userId = await UserManager.GetUserIdAsync(user);
                                    var unreadMessages = DbContext.Messages.Where(m => m.ReceiverId == new Guid(userId)).Count(m => !m.Read);
                                }
                                <a asp-page="/Message/Index">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    @if (unreadMessages > 0)
                                    {
                                        <span class="badge">@unreadMessages</span>
                                    }
                                </a>
                            </li>
                        }
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Localizer["Language"] <span class="caret"></span></a>
                        @{
                            var rv = ViewContext.RouteData.Values;
                            var sb = new StringBuilder();
                            if (rv["area"] != null)
                            {
                                sb.Append($"/{rv["area"]}");
                            }
                            sb.Append(rv["page"]);
                            string page = sb.ToString().ToLowerInvariant();

                            var english = new Dictionary<string, string>
                                            {
                                                {"culture", "en-US"},
                                                {"returnUrl", page}
                                            };
                            var dutch = new Dictionary<string, string>
                                            {
                                                {"culture", "nl-NL"},
                                                {"returnUrl", page}
                                            };
                            var turkish = new Dictionary<string, string>
                                            {
                                                {"culture", "tr-TR"},
                                                {"returnUrl", page}
                                            };
                        }
                        <ul class="dropdown-menu">
                            <li><a asp-page="/Language" asp-all-route-data="english"><img src="~/images/flags/british.png" /> English</a></li>
                            <li><a asp-page="/Language" asp-all-route-data="dutch"><img src="~/images/flags/dutch.png" /> Nederlands</a></li>
                            <li><a asp-page="/Language" asp-all-route-data="turkish"><img src="~/images/flags/turkish.png" /> Türkçe</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p class="pull-right">&copy; @DateTime.Today.Year - @Localizer["Application name"]</p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/quill/quill.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.min.js" asp-fallback-src="~/lib/quill/quill.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
