﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Admin.Teacher.DetailsModel
@{
    ViewData["Title"] = Localizer["Teacher"];
}

<h3>@Localizer["Teacher"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <a asp-page="./Edit" asp-route-id="@Model.Teacher.Id" class="btn btn-default">@Localizer["Edit"]</a>
</p>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.User.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.User.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.User.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.Class.Name)
        </dd>
    </dl>
</div>
