﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Admin.Teacher.EditModel
@{
    ViewData["Title"] = Localizer["Edit"];
}

<h3>@Localizer["Teacher"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Teacher.Id" />
            <div class="form-group">
                <label asp-for="Teacher.Email" class="control-label"></label>
                <input asp-for="Teacher.Email" class="form-control" />
                <span asp-validation-for="Teacher.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.UserName" class="control-label"></label>
                <input asp-for="Teacher.UserName" class="form-control" />
                <span asp-validation-for="Teacher.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Name" class="control-label"></label>
                <input asp-for="Teacher.Name" class="form-control" />
                <span asp-validation-for="Teacher.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.PhoneNumber" class="control-label"></label>
                <input asp-for="Teacher.PhoneNumber" class="form-control" />
                <span asp-validation-for="Teacher.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Address" class="control-label"></label>
                <textarea asp-for="Teacher.Address" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Teacher.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.ClassId" class="control-label"></label>
                <select asp-for="Teacher.ClassId" class="form-control" asp-items="ViewBag.ClassId">
                    <option></option>
                </select>
                <span asp-validation-for="Teacher.ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Edit"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
