﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Teacher.IndexModel

<div class="row">
    <div class="col-sm-6 col-md-push-2 col-md-4">
        <div class="thumbnail">
            <a asp-page="/Teacher/Student/Index">
                <img src="~/images/students.jpg" alt="@Localizer["Students"]">
            </a>
            <div class="caption">
                <h3>@Localizer["Students"]</h3>
                <p><a asp-page="/Teacher/Student/Index" class="btn btn-default" role="button">@Localizer["Manage"]</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-push-2 col-md-4">
        <div class="thumbnail">
            <a asp-page="/Teacher/Lesson/Index">
                <img src="~/images/lesson.jpg" alt="@Localizer["Lessons"]">
            </a>
            <div class="caption">
                <h3>@Localizer["Lessons"]</h3>
                <p><a asp-page="/Teacher/Lesson/Index" class="btn btn-default" role="button">@Localizer["Manage"]</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-push-2 col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassId"/>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>