﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Parent.IndexModel

<div class="row">
    @if (Model.Messages.Any())
    {
        <div class="col-sm-6 col-md-push-2 col-md-4">
            @foreach (var message in Model.Messages)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>@Localizer["Class"] @message.Key</strong></h3>
                    </div>
                    <div class="panel-body">
                        @message.Value
                    </div>
                </div>
            }
        </div>
    }

    <div class="@(Model.Messages.Any() ? string.Empty : "col-sm-push-3") col-sm-6 @(Model.Messages.Any() ? "col-md-push-2" : "col-md-push-4") col-md-4">
        <div class="thumbnail">
            <a asp-page="/Parent/Student/Index">
                <img src="~/images/students.jpg" alt="@Localizer["Students"]">
            </a>
            <div class="caption">
                <h3>@Localizer["Students"]</h3>
                <p><a asp-page="/Parent/Student/Index" class="btn btn-default" role="button">@Localizer["View"]</a>
            </div>
        </div>
    </div>
</div>