﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Admin.Topic.DetailsModel
@{
    ViewData["Title"] = Localizer["Topic"];
}

<h3>@Localizer["Topic"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <a asp-page="./Edit" asp-route-id="@Model.Topic.Id" class="btn btn-default">@Localizer["Edit"]</a>
</p>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.Course.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.Note)
        </dd>
    </dl>
</div>
