﻿    @page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Teacher.Lesson.CreateModel
@{
    ViewData["Title"] = Localizer["Add new"];
}

<h3>@Localizer["Lesson"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lesson.ClassId" />
            <div class="form-group">
                <label asp-for="Lesson.Date" class="control-label"></label>
                <input asp-for="Lesson.Date" type="date" class="form-control" />
                <span asp-validation-for="Lesson.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document"></label>
                <input type="file" asp-for="Document" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Add"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
