﻿@page
@using Edu.Web.Data.Domain
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Teacher.Lesson.DetailsModel
@{
    ViewData["Title"] = Localizer["Lesson"];
}

<h3>@Localizer["Lesson"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lesson.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lesson.Date)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Lesson.Id"/>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Lesson.Students[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lesson.Students[0].Present)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lesson.Students[0].Late)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lesson.Students[0].Behavior)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lesson.Students[0].Note)
                    </th>

                </tr>
                @for (int i = 0; i < Model.Lesson.Students.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" asp-for="Lesson.Students[i].Id"/>
                            <input type="hidden" asp-for="Lesson.Students[i].Name"/>
                            @Model.Lesson.Students[i].Name
                        </td>
                        <td>
                            <div class="checkbox">
                                <label><input asp-for="Lesson.Students[i].Present"/></label>
                            </div>
                        </td>
                        <td>
                            <div class="checkbox">
                                <label><input asp-for="Lesson.Students[i].Late"/></label>
                            </div>
                        </td>
                        <td>
                            <select asp-for="Lesson.Students[i].Behavior" asp-items="Html.GetEnumSelectList<StudentLesson.EBehavior>()" class="form-control">
                                <option></option>
                            </select>
                        </td>
                        <td>
                            <input asp-for="Lesson.Students[i].Note" class="form-control"/>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default pull-right">@Localizer["Save"]</button>
        </div>
    </form>
</div>