﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Teacher.Lesson.IndexModel
@{
    ViewData["Title"] = Localizer["Lessons"];
}

<h3>@Localizer["Lessons"]</h3>
<p>
    <a asp-page="../Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <a asp-page="./Create" class="btn btn-default">@Localizer["Add new"]</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lessons[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons[0].Documents)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lessons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>                    
                    @foreach (var document in item.Documents)
                    {
                        <a asp-page="/Download" asp-route-documentId="@document.Id">@document.FileName</a>
                    }
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
