html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

    body > .container {
        padding: 60px 15px 0;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

    .footer > .container {
        padding: 20px;
        font-size: 80%;
    }

.navbar-brand img {
    width: 20px;
    display: inline !important;
    vertical-align: middle !important;
}

.navbar-brand span {
    vertical-align: middle !important;
}

.thumbnail a img {
    margin: auto;
    height: 200px;
}

.indent {
    margin-left: 1.5vw;
}

#editor {
    height: 40vh;
}