﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Admin.IndexModel

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a asp-page="/Admin/Class/Index">
                <img src="~/images/class.jpg" alt="@Localizer["Classes"]">
            </a>
            <div class="caption">
                <h3>@Localizer["Classes"]</h3>
                <p><a asp-page="/Admin/Class/Index" class="btn btn-default" role="button">@Localizer["Manage"]</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a asp-page="/Admin/Teacher/Index">
                <img src="~/images/teacher.jpg" alt="@Localizer["Teachers"]">
            </a>
            <div class="caption">
                <h3>@Localizer["Teachers"]</h3>
                <p><a asp-page="/Admin/Teacher/Index" class="btn btn-default" role="button">@Localizer["Manage"]</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a asp-page="/Admin/Course/Index">
                <img src="~/images/courses.jpg" alt="@Localizer["Courses"]">
            </a>
            <div class="caption">
                <h3>@Localizer["Courses"]</h3>
                <p><a asp-page="/Admin/Course/Index" class="btn btn-default" role="button">@Localizer["Manage"]</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a asp-page="/Admin/Topic/Index">
                <img src="~/images/topics.jpg" alt="@Localizer["Topics"]">
            </a>
            <div class="caption">
                <h3>@Localizer["Topics"]</h3>
                <p><a asp-page="/Admin/Topic/Index" class="btn btn-default" role="button">@Localizer["Manage"]</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a asp-page="/Admin/Parent/Index">
                <img src="~/images/parents.jpg" alt="@Localizer["Parents"]">
            </a>
            <div class="caption">
                <h3>@Localizer["Parents"]</h3>
                <p><a asp-page="/Admin/Parent/Index" class="btn btn-default" role="button">@Localizer["Manage"]</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a asp-page="/Admin/Student/Index">
                <img src="~/images/students.jpg" alt="@Localizer["Students"]">
            </a>
            <div class="caption">
                <h3>@Localizer["Students"]</h3>
                <p><a asp-page="/Admin/Student/Index" class="btn btn-default" role="button">@Localizer["Manage"]</a>
            </div>
        </div>
    </div>
</div>