﻿@page
@using Edu.Web.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Message.CreateModel
@{
    ViewData["Title"] = Localizer["Messages"];
}

<h3>@Localizer["Messages"]</h3>

<form name="message" method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="title">@Localizer["Persons"]</label>
                <select asp-for="Receivers" class="form-control" size="20">
                    @foreach (ReceiverViewModel item in ViewData["Persons"] as IEnumerable<ReceiverViewModel>)
                    {
                        if (item.UserId.HasValue)
                        {
                            <option value="@item.UserId" class="indent">@item.Name</option>
                        }
                        else
                        {
                            <option disabled="disabled">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label for="title">@Localizer["Title"]</label>
                <input asp-for="Title" id="title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="editor">@Localizer["Message"]</label>
                <div id="editor">
                </div>
                <input asp-for="Content" id="message" type="hidden"/>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="@Localizer["Send"]" class="btn btn-default pull-right"/>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
