﻿@page
@using Edu.Web.Data.Domain
@using Microsoft.AspNetCore.Mvc.Localization
@inject UserManager<EduUser> UserManager
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Message.IndexModel
@{
    ViewData["Title"] = Localizer["Messages"];
}

<h3>@Localizer["Messages"]</h3>
<p>
    <a asp-page="../Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
    @{
        var user = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(user);
        if (roles.Contains(Config.Roles.Administrator) || roles.Contains(Config.Roles.Teacher))
        {
            <a asp-page="./Create" class="btn btn-default">@Localizer["Add new"]</a>
        }
    }
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages[0].Receiver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Messages)
        {
            <tr style="@(item.Read ? string.Empty : "font-weight: bold;")">
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver)
                </td>
                <td>
                    <a asp-page="./View" asp-route-id="@item.Id">@Localizer["View"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
