﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Edu.Web.Pages.Message.ViewModel
@{
    ViewData["Title"] = Localizer["Message"];
}

<h3>@Localizer["Message"]</h3>
<p>
    <a asp-page="./Index" title="@Localizer["Go back"]" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message.Content)
        </dt>
        <dd>
            <div id="viewer"></div>
            <input asp-for="Message.Content" id="message" type="hidden" />
        </dd>
    </dl>
</div>
